body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.controlPanel {
    background-color: rgb(94, 3, 3);
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 12px;
    margin-top: auto;
    text-align: center;
    height: 200px;
    width: 700px;

}