body {
    flex-direction: column;
    min-height: 95vh;
    display: flex;
    align-items: center;
    background-color: black;
}

.controlPanel {
    background-color: rgb(94, 3, 3);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    text-align: center;
    height: 220px;
    width: 750px;

}

button {
    background-color: brown;
    border-radius: 8px;
    border-color: rgb(224, 41, 41);
}

h1 {
    height: 12px;
    font-size: 26px;
}

h2 {
    height: 12px;
    font-size: 22px;
}

.inventoryBtn {
    font-size: 30px;
}

.inventoryPanel {
    background-color: rgb(94, 3, 3);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    height: 350px;
    width: 750px;
    text-align: center;
}

.hidden {
    display: none;
}

.mapPanel {
    background-color: rgb(94, 3, 3);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    height: 220px;
    width: 300px;
    text-align: center;
}

.controlPanelRow {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: auto;
}

.tools {
    background-color: rgb(94, 3, 3);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    height: 220px;
    width: 300px;
    text-align: center;
}

.dialogueMessage {
    font-size: 24px;
    font-weight: bold;
}