body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.controlPanel {
    background-color: rgb(94, 3, 3);
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 12px;
    margin-top: auto;
    text-align: center;
    height: 200px;
    width: 700px;

}

button {
    background-color: brown;
    border-radius: 8px;
    border-color: rgb(224, 41, 41);
}

h1 {
    height: 12px;
    font-size: 26px;
}

h2 {
    height: 12px;
    font-size: 22px;
}